html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #78676b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:12px
}
.row{
    position:relative
}
.divLeft{
    height:100%;
    position:fixed;
    bottom:0
}
.logo{
    background-image: url(../images/logo_home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#fff;
    height:65%
}
.ale{
    background-image: url(../images/abrale_ale.png);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: center;
    position:fixed;
    right:11%
}
.textoImportante{
    background-color:rgb(201, 139, 134);
    padding: 10px;
    color:#ffff;
    font-size:16px;
    vertical-align: middle;
    height:30%
}
.copyright{
    text-align:center;
    color:#fff;
    background-color:rgb(199, 26, 65);
    padding:8px 0;
    height:5%
}
h3{
    line-height: normal;
}
 h3.header {
    border-bottom: 1px solid #2b2b2b;
    padding: 0 0 10px;
    position: relative;
    color:#fff;
    font-size:18px

}
h3.header span::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 0;
    width: 18%;
    height: 3px;
    background: #a81f42;
}
h3.header span::after {
    border-color: #a81f42 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
    bottom: -11px;
    top: auto;
    position: absolute;
    content: " ";
    width: auto;
    height: auto;
    left: 15px;
    border-width: 5px;
    border-style: solid;
}
.audio{
    display:none
}
.chat-popup {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.22);
    width: 400px;
    height: 40px;
    border-top-left-radius: 4px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-name: popup_open;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #e6e6e6;
}
.dataHora{
    text-align:right;
    color:#cfcfcf;
    font-size:12px
}
.dataHoraUser{
    text-align:left;
    color:#cfcfcf;
    font-size:12px;
}
.erro{
    border:2px solid #ffee2b!important;
}
.ok{
    border:0px!important;
}
@keyframes popup_open {
    from {
        height: 40px;
    }
    to {
        height: 85%
    }
}

@keyframes popup_close {
    from {
        height: 85%;
    }
    to {
        height: 40px
    }
}

.chat-popup .chat-header {
    background-color: #a81f41;
    color:#fff;
    height: 45px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.chat-popup .chat-body {
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    animation-name: show_chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 85%;
    overflow-y: scroll;
    padding-top: 10px;
}

.chat-popup .chat-body::-webkit-scrollbar{
    visibility: hidden;
}

@keyframes show_chat {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide_chat {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.chat-popup .chat-body .chat-date{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.chat-popup .chat-body .chat-date span{
    font-size: 14px;
    display: inline-block;
    color: #bebebe;
    width: 100%;
}

.chat-popup .chat-body .chat-date span:before, .chat-popup .chat-body .chat-date span:after{
    display: inline-block;
    width: 30%;
    height: 1px;
    margin-bottom: 5px;
    content: '';
    background-color: #c3c3c3;
}
.chat-popup .chat-body .chat-date span:before{
    margin-right: 2px;
    left: 0;
}
.chat-popup .chat-body .chat-date span:after{
    right: 0;
    margin-left: 2px;
}

.chat-popup .chat-body .bubble {
    padding: 13px 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    max-width: 78%;

}

.chat-popup .chat-body .bubble:before {
    width: 8px;
    height: 6px;
    top: 5px;
    position: relative;
    display: inline-block;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.chat-popup .chat-body .bubble.watson {
    color: #fff;
    background-color: #00b0ff;
    align-self: flex-start;
    margin-left: 20px;
}

.chat-popup .chat-body .bubble.watson:before {
    left: -18px;
    background-color: #00b0ff;
}

.chat-popup .chat-body .bubble.user:before {
    right: -18px;
    float: right;
    background-color: #eceff1;
}

.chat-popup .chat-body .bubble.user {
    color: #1a1a1a;
    align-self: flex-end;
    background-color: #eceff1;
    margin-right: 20px;
}


.chat-footer{
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    animation-name: show_chat;
    background-color: #eceff1;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}
.chat-footer input{
    color: #1a1a1a;
    border: 0;
    outline: none;
}

.chat-footer .send-btn{
    width: 20%;
    content: 'a';
    display: inline-block;
    background-image: url(../images/send.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
}
.box{
    background:none;
    border-top:0
}
.box-header{
    padding:0
}
.direct-chat-text, .right .direct-chat-text, .direct-chat-msg{
    margin:0
}
.form-control{
    font-size:12px
}
.btn.btn-flat{
    color:#fff;
    font-size:12px
}
  .direct-chat-text{
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color:#000;
    margin:0
  }
 .direct-chat-text:after, .direct-chat-text:before{
    border-right-color: #f2f2f2;
  }
  .direct-chat-primary .right>.direct-chat-text{
    background: #00888A;
    border-color: #00888A;
    color:#fff;
  }
  .direct-chat-primary .right>.direct-chat-text:after, .direct-chat-primary .right>.direct-chat-text:before{
    border-left-color: #00888A;
  }
  .right .direct-chat-text{
    margin-right:0
  }
  #footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #2980b9;
  }
  .btn-primary {
    background-color: #00888A;
    border-color: #00888A;
  }
  .btn-primary.focus, .btn-primary:focus{
    background-color: #00888A;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary.hover{
    background-color: #00888A;
  }
    .box-footer{
      background-color: #a81f41;
    }
    #footer .content {
      padding-top: 4px;
      position: relative;
    }
.form-control{
    height:29px
}